
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-form-field-label {
    color: red;
}

.mat-input-element {
    color: blue;
}

::ng-deep mat-form-field {
    color: red;
  }
