
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif;
    background-color: #f5f5f5;
}

.custom-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-bar {
    width: 1000px;
    height: 55px;
}

.mat-mdc-text-field-wrapper {
    background-color:white!important;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: rgba(133, 115, 16, 0.601)!important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: rgba(255, 243, 22, 0.601)!important;
}

.mat-grid-tile-content {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
}