.cust-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 250px;
}

.announcement-container {
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.chat-button {
  background-color: black;
  color: white;
  width: 100px;
}

.content {
  margin-top: 20px;
  padding-bottom: 20px;
}
 
.title {
  padding-left: 110px;
  padding-top: 40px;
  font-weight: bolder;
  font-size: 35px;
}

.announcer-container {
  margin-left: 110px;
  background-color: rgb(239, 239, 239);
  width: 300px;
  height: 120px;
  border-radius: 10px;
}

.announcer-content {
  margin-left: 15px;
  padding-top: 10px;
}

.details {
  margin-left: 110px;
  margin-top: 40px;
  display: flex;
}

.price-container {
  display: flex;
  background-color: rgb(36, 36, 36);
  color: white;
  height: 50px;
  width: 190px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  border-radius: 5px;
}

.image-container {
  width: 700px; 
  height: 100px; 
  position: relative;
  margin-left: 100px;
  margin-right: 40px;
  margin-top: 5px;
  border-radius: 10px;
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specs {
  display: block;
}

.mat-mdc-table {
  margin-top: 35px;
  background-color: rgb(239, 239, 239);
}

.mat-mdc-table .mdc-data-table__row {
  height: 35px!important;
}

.mat-mdc-table .mdc-data-table__cell.value {
  padding-left: 190px;
}

.description-container {
  margin-left: 110px;
  margin-right: 50px;
  margin-top: 40px;
  padding-bottom: 40px;
}

.reviews-container {
  flex-direction: column;
  margin-left: 110px;
  margin-top: 40px;
}

.spinner2 {
  align-items: center;
  justify-content: center;
}

.new-review-container {
  flex-direction: column;
  margin-bottom: 30px;
}

.new-review-button {
  margin-bottom: 30px;
}

.review-field {
  width: 1200px;
}

.submit-review-button {
  background-color: rgb(0, 187, 0);
  color: white;
  margin-left: 10px;
}

.icon-align {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.review {
  display: block;
  margin-right: 50px;
}

.chat-button-bottom {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chatbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 280px;
  z-index: 10;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.close-icon {
  margin-right: 8px;
  cursor: pointer;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.messages-container {
  height: 300px;
  align-items: center;
  justify-content: center;
}

.message-field {
  height: 20px;
  width: 278px;
  margin-left: 1px;
}