<div class="announcement-container" *ngIf="announcer != null; else spinner">
  <div class="content">
    <h1 class="title"><b>{{ vehicle.name }}</b></h1>
    <div class="details">
      <div class="specs">
        <div class="price-container">
          {{vehicle.price | currency: 'PLN '}}
        </div>
        <table mat-table [dataSource]="specs" class="mat-elevation-z8">
          <ng-container matColumnDef="spec">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let item"><b>{{ item.spec }}</b></td>
          </ng-container>
        
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let item" class="value">{{ item.value }}</td>
          </ng-container>
        
          <tr mat-row *matRowDef="let row; columns: ['spec', 'value']"></tr>
        </table>
      </div>
      <div class="image-container">
        <gallery [items]="images" thumbPosition="right" imageSize="cover" style="height: 440px; border-radius: 10px;"></gallery>
      </div>
    </div>
    <div class="description-container">
      <h2>Description</h2>
      <p>{{vehicle.description}}</p>
    </div>
    <div class="announcer-container">
      <div class="announcer-content">
        <h4 style="margin-bottom: -1px;"><b>Announcer</b></h4>
        <p>{{ announcer.email }}</p>
        <button
          class="chat-button"
          mat-raised-button
          (click)="openChat()">
          Chat
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
    <div class="cust-spin">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
</ng-template>