.cust-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 170px;
}

.centered-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
  