.column-form {
    display: flex;
    flex-direction: column;
}

.column-form > span {
    margin-bottom: 5px;
}

.column-form > mat-form-field {
    margin-bottom: 10px;
}

.custom-cursor:hover {
    cursor: pointer;
}