.spacer {
    flex: 1 1 auto;
}

.main-row {
    height: 70px;
    background-color: rgb(40, 40, 40);
}

.logout-button {
    color: white;
    margin-right: 5px;
}

.my-account-button {
    color: white;
    margin-right: 10px;
}

.search-row {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 1000px;
    height: 55px;
    background-color: white;
    border-radius: 0px;
}

.location-field {
    height: 55px;
    background-color: white;
    border-radius: 0px;
}

.search-button {
    color:rgb(131, 131, 131)
}

.search-button:hover {
    cursor: pointer;
    color:rgb(0, 0, 0)
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

  .page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .car-row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .car-preview {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
  }

  .car-preview:hover {
    transform: scale(1.1);
  }

  .car-preview img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .car-title {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .car-description {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: #666;
  }

  .view-details-button {
    background-color: rgba(91, 79, 10, 0.601);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .view-details-button:hover {
    background-color: #000000;
  }
