<mat-toolbar>
    <mat-toolbar-row class="main-row">
        <span style="color: white">Third Line</span>
        <span class="spacer"></span>
        <button
            mat-icon-button
            routerLink="/auth"
            style="margin-right: 10px;">
            <mat-icon>person</mat-icon>
        </button>
        <button
            mat-raised-button>
            Announce and Sell
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="search-row">
        <form>
            <mat-form-field class="centered-input">
                <input matInput>
            </mat-form-field>
        </form>
    </mat-toolbar-row>
</mat-toolbar>