
<div class="account-container" *ngIf="vehicles != null; else spinner">
    <h1 class="title-info">My Account</h1>
    <div class="icon-align">
        <mat-icon style="margin-right: 10px;">account_circle</mat-icon>
        {{ user.email }}
    </div>
    <h2 style="margin-top: 40px">My Vehicles:</h2>
    <div class="car-container">
        <div *ngFor="let vehicle of vehicles; let i = index;">
          <div class="car-row" *ngIf="i % 4 === 0">
            <div 
              class="car-preview"
              *ngFor="let subVehicle of vehicles.slice(i, i + 4)"
              [routerLink]="['/vehicle_details', subVehicle.id]">
              <div class="car-image">
                <img src="{{subVehicle.images[0]}}" alt="Car Image">
              </div>
              <h2 class="car-title">{{ subVehicle.name }}</h2>
              <p class="car-area">{{ subVehicle.city }}</p>
              <p class="car-price"><b>{{ subVehicle.price | currency: 'PLN ' }}</b></p>
              <button class="view-details-button">View Details</button>
            </div>
          </div>
        </div>
      </div>
</div>
<ng-template #spinner>
    <div class="cust-spin">
        <mat-spinner diameter="100"></mat-spinner>
    </div>
</ng-template>
